* {
font-family :Verdana, Geneva, Tahoma, sans-serif ;

}

body {

    background-color: #eef3f8;
}

.section-padding{
padding: 100px 0;

}

.carousel-item{
   height: 100vh;
   min-height: 300px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5{
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    }

    .carousel-caption p {
        width: 60%;
        margin: auto;
        font-size: 10px;
        line-height: 1.9;
    }

    .carousel-inner::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0, 0.7);
        z-index: 1;

    }

    .nav-bar a {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
            }

           
            .navbar-light .nav-bar-brand{
                color: #000;
                font-size: 25px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 2px
            }

            .navbar-light .nav-bar-brand:focus,
            .navbar-light .nav-bar-brand:hover{ 
color: #000;
            }

            .navbar-light .nav-nav .navbar-light{
                color: #000;
            }
           
.w-100{
    height: 100vh;
   }

   /* ==== responsive css === */
   @media only screen and (min-width: 768px ) and (max-width:991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p {
        width: 100%;

    }
   }
  

   @media only screen and  (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5 {
       font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;

    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }

   }

   nav .procurar {
   border-radius: 50px;
   }